@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010101;
    color: #85b143;
    display: flex;
    flex-direction: column;
    font-family: "Turret Road", monospace;
    margin: 10px;
    padding: 5px;
}

#top {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 5px;
    border: 1px solid #85b143;
    background-color: #010101;
    color: #85c459;
    height: 2rem;
    width: 300px;
    font-family: "Turret Road", monospace;
    font-weight: bolder;
}

button {
    padding: 5px;
    background-color: #010101;
    border: 1px solid #85b143;
    color: #85c459;
    width: 80px;
    height: 2rem;
    cursor: pointer;
}

button:hover {
    color: #010101;
    background-color: #85b143;
}

#location {
    color: #85c459;
    font-weight: bold;
    font-size: 2rem;
}

#middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    width: 92%;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: 45%;
    gap: 10px;
}

.temperature {
    font-size: 2rem;
    color: #85c459;
}

.main {
    text-align: center;
}

#right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sun-time, #next-days {
    display: flex;
}

#sunrise, #sunset, #tomorrow, #after-tomorrow {
    width: 160px;
    padding: 10px;
    margin: 10px;
    border: #85b143 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom {
    display: flex;
}

.next-hours {
    border: #85b143 solid 1px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}